.ground {
    background-image: url('https://t3.ftcdn.net/jpg/02/14/38/78/360_F_214387821_VgAJZvOQLCOGZR0Cx6i6n9Qdwi80WWXr.jpg'); 
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 300px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: white; 
    color: rgb(7, 4, 4);
    resize: none;
    font-size: 16px;
    border-radius: 8px;
    outline: none; 
}
.home-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Add margin for spacing */
}

button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: black; 
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    outline: none; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
